body
{
   width: 1024px;
   height: auto;
   background-color: #FAF8EF;
   color: #776e65;
}

#instructions {
    position:relative;
    margin-top: 500px;
    font-size: 14px;
    font-style: italic;
}