body
{
   height: auto;
   background-color: #FAF8EF;
   color: #776e65;
}

#wrapper {
	width: 1024px; 
	margin: 0 auto; 
	border: 1px solid #776e65;
}

#instructions {
    position:relative;
    margin-top: 500px;
    font-size: 14px;
    font-style: italic;
}