body{  
  background-color: #FAF8EF;
  color: #776e65;
  margin-top: 100px;
}

#wrapper {
	width: 800px; 
	margin: 0 auto; 
	border: 3px solid #776e65;
  border-radius: 5px;
}

header {
  margin-left: 10px;
}

#container {
  text-align: center;
}

#instructions {
    font-size: 14px;
    font-style: italic;
    margin-left: 10px;
}

